name: Deploy Infrastructure

# the workflow to execute on is comments that are newly created
on:
  issue_comment:
    types: [created]

# permissions needed for reacting to IssueOps commands on issues and PRs
permissions:
  pull-requests: write
  issues: write
  checks: read

jobs:
  runs-on: ubuntu-latest
    steps:
      # execute IssueOps command logic, hooray!
      # this will be used to "gate" all future steps below
      - uses: github/command@v1.2.2
        id: command
        with:
          command: ".deploy"

      # run your custom logic for your project here - example seen below

      # conditionally run some logic here
      - name: deploy
        if: ${{ steps.command.outputs.continue == 'true' }}
        run: echo "I am going to deploy now!"